<header class="sans-serif">
    <div class="cover bg-left bg-center-l" style="background-image: url(assets/bg.jpg)">
        <div class="bg-black-80 pb5 pb6-m pb7-l">
        <nav class="dt w-100 mw8 center"> 
            <div class="dtc w2 v-mid pa3">
            <a href="/" class="dib w2 h2 pa1 ba b--white-90 grow-large border-box">
                <svg class="link white-90 hover-white" data-icon="skull" viewBox="0 0 32 32" style="fill:currentcolor">
                    <title>home icon</title>
                    <path d="M16 0 L32 16 L28 16 L28 30 L20 30 L20 20 L12 20 L12 30 L4 30 L4 16 L0 16 Z"></path>                
                </svg>
            </a>
            </div>
            <div class="dtc v-mid tr pa3">
            <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="#ourwork" >Our Work</a> 
            <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="#aboutus" >About Us</a>             
            <a class="f6 fw4 hover-white no-underline white-70 dib ml2 pv2 ph3 ba" href="#contact" >Get In Touch</a> 
            </div>
        </nav> 
        <div class="tc-l mt4 mt5-m mt6-l ph3">
            <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">We Make Stuff</h1>
            <h2 class="fw1 f3 white-80 mt3 mb4">Now a subheadline where explain your wonderful new startup even more</h2>
            <a class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3" href="#contactus">Get In Touch</a>
            <!-- <span class="dib v-mid ph3 white-70 mb3">or</span>
            <a class="f6 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" href="">Secondary call to action</a> -->
        </div>
        </div>
    </div> 
</header>

<main>  
    <section class="cf ph6-l" id="ourwork">
        <div class="ph4 ph5-m ph6-l">
            <div class="pv5 f4 f2-ns measure center">
                <h1 class="tc f5 ttu fw6 tracked mb4 avenir">Our Work</h1>
                <p class="db lh-copy black-70 serif fw1 mv0 f4 f3-m f2-l measure baskerville">
                Standard lorem ipsum dolor sit amet, consectetur adipisicing
                elit, sed do eiusmod tempor incididunt ut labore etc. al dolore magna
                aliqua. Ut enim ad.
                </p>
            </div>
            <a href="#0" class="fl w-third w-25-ns border-box overflow-hidden ba bw2 white" title="">
                <div class="grow cover bg-center pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/hw-080411-cargo_960.jpg);"></div>
            </a>
            <a href="#0" class="fl w-third w-25-ns border-box overflow-hidden  ba bw2 white" title="">
                <div class="grow cover bg-top pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/hwspringtour-cargo_960-1.jpg);"></div>
            </a>
            <a href="#0" class="fl w-third w-25-ns border-box overflow-hidden ba bw2 white" title="">
                <div class="grow cover bg-top pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/cc010611.s_960.jpg);"></div>
            </a>
            <a href="#0" class="fl w-100 w-25-ns border-box overflow-hidden ba bw2 white" title="">
                <div class="grow cover bg-top pv5 pv6-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/adam-stern-031209_960-2.jpg);"></div>
            </a>
            <a href="#0" class="fl w-50 border-box overflow-hidden ba bw2 white" title="">
                <div class="grow cover bg-center pv5 pv7-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/zh170311.4.cargo_960.jpg);"></div>
            </a>
            <a href="#0" class="fl w-50 border-box overflow-hidden ba bw2 white" title="">
                <div class="grow cover bg-center pv5 pv7-l" style="background-image:url(https://s3-us-west-2.amazonaws.com/prnt/hw090911_960.jpg);"></div>
            </a>
        </div>
    </section>

    <section class="cf mt5 pv5 bt b--black-05 ph6-l" id="aboutus">
        <h1 class="tc f5 ttu fw6 tracked mb4 avenir">Our Team</h1>
        <div class="fl w-100 w-third-ns pa2">
            <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
                <div class="tc">
                    <img src="http://tachyons.io/img/avatar_1.jpg" class="br-100 h4 w4 dib ba b--black-05 pa2" title="Photo of a kitty staring at you">
                    <h1 class="f3 mb2">Mimi W.</h1>
                    <h2 class="f5 fw4 gray mt0">CCO (Chief Cat Officer)</h2>
                </div>
            </article>
        </div>        
        <div class="fl w-100 w-third-ns pa2">                
            <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
                <div class="tc">
                    <img src="http://tachyons.io/img/avatar_1.jpg" class="br-100 h4 w4 dib ba b--black-05 pa2" title="Photo of a kitty staring at you">
                    <h1 class="f3 mb2">Mimi W.</h1>
                    <h2 class="f5 fw4 gray mt0">CCO (Chief Cat Officer)</h2>
                </div>
            </article>  
        </div>
        <div class="fl w-100 w-third-ns pa2">                
            <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
                <div class="tc">
                    <img src="http://tachyons.io/img/avatar_1.jpg" class="br-100 h4 w4 dib ba b--black-05 pa2" title="Photo of a kitty staring at you">
                    <h1 class="f3 mb2">Mimi W.</h1>
                    <h2 class="f5 fw4 gray mt0">CCO (Chief Cat Officer)</h2>
                </div>
            </article>             
        </div>
    </section>    
    <section id="contact" class="cf pv5 bt b--black-05 ph6-l">
        <h1 class="tc f5 ttu fw6 tracked mb4 avenir">Contact Us</h1>
        <div class="tc">
            <a href="mailto:hello@example.com">hello@example.com</a>
        </div>
    </section>    
</main>

<footer style="background-image:url(http://i.giphy.com/5lF3pQpdquCBy.gif);" class="tc-l bg-center cover bg-black">
    <div class="w-100 ph3 pv5 bg-black-80">
      <a class="link white-60 bg-transparent hover-white inline-flex items-center ma2 tc br2 pa2" href="https://github.com/mrmrs" title="GitHub">
        <svg class="dib h2 w2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.083-.202-.358-1.015.077-2.117 0 0 .672-.215 2.2.82.638-.178 1.323-.266 2.003-.27.68.004 1.364.092 2.003.27 1.527-1.035 2.198-.82 2.198-.82.437 1.102.163 1.915.08 2.117.513.56.823 1.274.823 2.147 0 3.073-1.87 3.75-3.653 3.947.287.246.543.735.543 1.48 0 1.07-.01 1.933-.01 2.195 0 .215.144.463.55.385C13.71 14.53 16 11.534 16 8c0-4.418-3.582-8-8-8"/></svg>
        <span class="f6 ml3 pr2">GitHub</span>
      </a>
      <a class="link white-60 bg-transparent hover-white inline-flex items-center ma2 tc br2 pa2" href="https://medium.com/@mrmrs_/" title="Medium">
        <svg class="dib h2 w2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M11.824 12.628l-.276.45.798.398 2.744 1.372c.15.076.294.11.418.11.278 0 .467-.177.467-.492V5.883l-4.15 6.745zm4.096-8.67c-.004-.003 0-.01-.003-.012l-4.825-2.412c-.06-.03-.123-.038-.187-.044-.016 0-.03-.01-.047-.01-.184 0-.368.092-.467.254l-.24.39-.5.814-1.89 3.08 1.89 3.076.5.813.5.812.59.95 4.71-7.64c.02-.03.01-.06-.02-.08zm-6.27 7.045L7.17 6.97l-.295-.477-.294-.477-.25-.416v4.867l3.32 1.663.5.25.5.25-.5-.813-.5-.813zM.737 1.68L.59 1.608c-.085-.042-.166-.062-.24-.062-.206 0-.35.16-.35.427v10.162c0 .272.2.594.442.716l4.145 2.08c.107.06.208.08.3.08.257 0 .438-.2.438-.53V4.01c0-.02-.012-.04-.03-.047L.738 1.68z"/></svg>
        <span class="f6 ml3 pr2">Medium</span>
      </a>
      <a class="link white-60 bg-transparent hover-white inline-flex items-center ma2 tc br2 pa2" href="https://twitter.com/mrmrs_" title="Twitter">
        <svg class="dib h2 w2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.375-1.337.648-2.085.795-.598-.638-1.45-1.036-2.396-1.036-1.812 0-3.282 1.468-3.282 3.28 0 .258.03.51.085.75C5.152 5.39 2.733 4.084 1.114 2.1.83 2.583.67 3.147.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.416-.02-.617-.058.418 1.304 1.63 2.253 3.067 2.28-1.124.88-2.54 1.404-4.077 1.404-.265 0-.526-.015-.783-.045 1.453.93 3.178 1.474 5.032 1.474 6.038 0 9.34-5 9.34-9.338 0-.143-.004-.284-.01-.425.64-.463 1.198-1.04 1.638-1.7z" fill-rule="nonzero"/></svg>
        <span class="f6 ml3 pr2">Twitter</span>
      </a>
    </div>
</footer>
  